<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Definição do Servlet para Usuário -->
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>api.UsuarioServlet</servlet-class>
    </servlet>

    <!-- Mapeamento da URL para o servlet de Usuário -->
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/api/usuario/*</url-pattern>
    </servlet-mapping>
	
	 <!-- Definição do Servlet para Avaliação -->
    <servlet>
        <servlet-name>AvaliacaoServlet</servlet-name>
        <servlet-class>api.AvaliacaoServlet</servlet-class>
    </servlet>

    <!-- Mapeamento da URL para o servlet de Avaliação -->
    <servlet-mapping>
        <servlet-name>AvaliacaoServlet</servlet-name>
        <url-pattern>/api/avaliacao/*</url-pattern>
    </servlet-mapping>
	
	<!-- Definição do Servlet para Ubs -->
    <servlet>
        <servlet-name>UbsServlet</servlet-name>
        <servlet-class>api.UbsServlet</servlet-class>
    </servlet>

    <!-- Mapeamento da URL para o servlet de Ubs -->
    <servlet-mapping>
        <servlet-name>UbsServlet</servlet-name>
        <url-pattern>/api/ubs/*</url-pattern>
    </servlet-mapping>

    <!-- Definição do Servlet de Login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>api.LoginServlet</servlet-class>
    </servlet>

    <!-- Mapeamento da URL para o servlet de Login -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>

</web-app>
